<a href="https://colab.research.google.com/github/Annafi06/Python-Basics-for-Data-Science/blob/main/Python_Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, World!")

Hello, World!

Python Identation

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

Comment

In [ ]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [ ]:
"""
This is a a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

Python Variables

In [ ]:
X = 5
Y = "John"
print(X)
print(Y)

5
John

Casting

In [ ]:
X = str(3) #x will be '3'
Y = int(3) #y will be 3
Z = float(3) #z will be 3.0

print(X)
print(Y)
print(Z)

3
3
3.0

Get the Type

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Single or Double Quotes?

In [ ]:
x = "John"
# is the same as
x = 'John'

Case-Sensitive

In [ ]:
a = 4
A = "Sally"
#A will no overwrite a

Variable Names

In [ ]:
#Legal Variable Names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

#Multi Words Variable Names
#1. Camel Case
myVariableName = "John"

#2. Pascal Case
MyVariableName = "John"

#3. Snake Case
my_variable_name = "John"

Assign Multiple Values

In [ ]:
#Many Values to Multiple Variables
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
#One Value to Multiple Variable
x = y = z = "Oranges"
print(x)
print(y)
print(z)

Oranges
Oranges
Oranges

In [ ]:
#Unpack a collection
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Output Variables

In [ ]:
x = "Python is awesome"
print(x)

Python is awesome

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [ ]:
x = "Python "
y = "is "
z = "awesome "
print(x + y + z)

Python is awesome

In [ ]:
x = 5
y = 10
print (x+y)

15

In [ ]:
x = 5
y = "John"
print(x, y)

5 John

Global Variables

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
#Using global keyword
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
#Using global keyword
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Data Types

In [ ]:
x = 5
print(type(x))

<class 'int'>

In [ ]:
#Setting the Data Type
x = "Hello World"	#str
x = 20	#int
x = 20.5	#float
x = 1j	#complex
x = ["apple", "banana", "cherry"]	#list
x = ("apple", "banana", "cherry")	#tuple
x = range(6)	#range
x = {"name" : "John", "age" : 36}	#dict
x = {"apple", "banana", "cherry"}	#set
x = frozenset({"apple", "banana", "cherry"})	#frozenset
x = True	#bool
x = b"Hello"	#bytes
x = bytearray(5)	#bytearray
x = memoryview(bytes(5))	#memoryview
x = None	#NoneType

In [ ]:
#Setting the Specific Data Type
x = str("Hello World")	#str
x = int(20)	#int
x = float(20.5)	#float
x = complex(1j)	#complex
x = list(("apple", "banana", "cherry"))	#list
x = tuple(("apple", "banana", "cherry"))	#tuple
x = range(6)	#range
x = dict(name="John", age=36)	#dict
x = set(("apple", "banana", "cherry"))	#set
x = frozenset(("apple", "banana", "cherry"))	#frozenset
x = bool(5)	#bool
x = bytes(5)	#bytes
x = bytearray(5)	#bytearray
x = memoryview(bytes(5))	#memoryview

Python Numbers

In [2]:
#integer
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [3]:
#Float
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [4]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [5]:
#complex
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [6]:
#Type Conversion
x = 1 #int
y = 2.8 #float
z = 1j #complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [47]:
#Random number
import random

print(random.randrange(1,10))

7

Python Casting

In [49]:
#integer
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [50]:
#floats
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [51]:
#strings
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'