<a href="https://colab.research.google.com/github/Annafi06/Python-Basics-for-Data-Science/blob/main/Python_Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello, World!")

Hello, World!

Python Identation

In [2]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

Comment

In [3]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [4]:
"""
This is a a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

Python Variables

In [5]:
X = 5
Y = "John"
print(X)
print(Y)

5
John

Casting

In [6]:
X = str(3) #x will be '3'
Y = int(3) #y will be 3
Z = float(3) #z will be 3.0

print(X)
print(Y)
print(Z)

3
3
3.0

Get the Type

In [7]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Single or Double Quotes?

In [8]:
x = "John"
# is the same as
x = 'John'

Case-Sensitive

In [9]:
a = 4
A = "Sally"
#A will no overwrite a

Variable Names

In [10]:
#Legal Variable Names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

#Multi Words Variable Names
#1. Camel Case
myVariableName = "John"

#2. Pascal Case
MyVariableName = "John"

#3. Snake Case
my_variable_name = "John"

Assign Multiple Values

In [11]:
#Many Values to Multiple Variables
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [12]:
#One Value to Multiple Variable
x = y = z = "Oranges"
print(x)
print(y)
print(z)

Oranges
Oranges
Oranges

In [13]:
#Unpack a collection
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Output Variables

In [14]:
x = "Python is awesome"
print(x)

Python is awesome

In [15]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [16]:
x = "Python "
y = "is "
z = "awesome "
print(x + y + z)

Python is awesome

In [17]:
x = 5
y = 10
print (x+y)

15

In [18]:
x = 5
y = "John"
print(x, y)

5 John

Global Variables

In [19]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [20]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [21]:
#Using global keyword
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [22]:
#Using global keyword
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Data Types

In [23]:
x = 5
print(type(x))

<class 'int'>

In [24]:
#Setting the Data Type
x = "Hello World"	#str
x = 20	#int
x = 20.5	#float
x = 1j	#complex
x = ["apple", "banana", "cherry"]	#list
x = ("apple", "banana", "cherry")	#tuple
x = range(6)	#range
x = {"name" : "John", "age" : 36}	#dict
x = {"apple", "banana", "cherry"}	#set
x = frozenset({"apple", "banana", "cherry"})	#frozenset
x = True	#bool
x = b"Hello"	#bytes
x = bytearray(5)	#bytearray
x = memoryview(bytes(5))	#memoryview
x = None	#NoneType

In [25]:
#Setting the Specific Data Type
x = str("Hello World")	#str
x = int(20)	#int
x = float(20.5)	#float
x = complex(1j)	#complex
x = list(("apple", "banana", "cherry"))	#list
x = tuple(("apple", "banana", "cherry"))	#tuple
x = range(6)	#range
x = dict(name="John", age=36)	#dict
x = set(("apple", "banana", "cherry"))	#set
x = frozenset(("apple", "banana", "cherry"))	#frozenset
x = bool(5)	#bool
x = bytes(5)	#bytes
x = bytearray(5)	#bytearray
x = memoryview(bytes(5))	#memoryview

Python Numbers

In [26]:
#integer
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [27]:
#Float
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [28]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [29]:
#complex
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [30]:
#Type Conversion
x = 1 #int
y = 2.8 #float
z = 1j #complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [31]:
#Random number
import random

print(random.randrange(1,10))

2

Python Casting

In [32]:
#integer
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [33]:
#floats
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [34]:
#strings
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

Python Strings

In [35]:
print("Hello")
print('Hello')

Hello
Hello

In [36]:
#Quotes Inside Quotes
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [37]:
#Assign String to a Variable
a = "Hello"
print(a)

Hello

In [38]:
#Multiline Strings
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [39]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [40]:
#Strings are Arrays
a = "Hello, World!"
print(a[1])

e

In [41]:
#Looping Through a String
for x in "banana":
  print(x)

b
a
n
a
n
a

In [42]:
#String Length
a = "Hello, World!"
print(len(a))

13

In [43]:
#Check String
txt = "The best things in life are free!"
print("free" in txt)

True

In [44]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [45]:
#Check if NOT
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [46]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

Slicing Strings

In [47]:
b = "Hello, World"
print(b[2:5])

llo

In [48]:
#slice from the start
b = "Hello, World!"
print(b[:5])

Hello

In [49]:
#slice to the end
b = "Hello, World!"
print(b[2:])

llo, World!

In [50]:
#negative indexing
b = "Hello, World!"
print(b[-5:-2])

orl

Modify Strings

In [51]:
#Upper Case
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [52]:
#Lower Case
a = "Hello, World!"
print(a.lower())

hello, world!

In [53]:
#Remove Whitespace
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [54]:
#Replace String
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [55]:
#SPlit string
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

String Concatenation

In [56]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [57]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

Format Strings

In [58]:
#F-Strings
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [59]:
#Placeholders and modifiers
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [60]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [61]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

Booleans

In [62]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [63]:
a = 200
b = 33

if b>a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [64]:
print(bool("Hello"))
print(bool(15))

True
True

In [65]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [66]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [67]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [68]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [69]:
def myFunction() :
  return True

print(myFunction())

True

In [70]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [71]:
x = 200
print(isinstance(x, int))

True

List

In [72]:
mylist = ["apple", "banana", "cherry"]

In [73]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [74]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [75]:
#list length
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [76]:
#Data types
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34, True, 40, "male"]

In [77]:
#type()
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [78]:
#The list() constructor
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

Access List Items

In [79]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [80]:
#Negative indexing
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [81]:
#Range of indexes
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [82]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [83]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [84]:
#Range of Negative Index
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [85]:
#Check if item exists
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

Change List Items

In [86]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [87]:
#Change a Range of item Values
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [88]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [89]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [90]:
#Insert Items
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

Add List Items

In [91]:
#append items
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [92]:
#Insert Items
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [93]:
#Extend List
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [94]:
#add any iterable
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

Remove List Items

In [95]:
#Remove specified item
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [96]:
#Remove Specified Index
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [97]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [98]:
#Clear the List
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

Loop List

In [99]:
#Loop through a list
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [100]:
#Loop through the index numbers
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [101]:
#Using While Loop
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [102]:
#Looping Using List Comprehension
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

List Comprehension

In [103]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [104]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

Sort Lists

In [105]:
#Sort List Alphanumerically
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [106]:
#Sort the list numerically
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [107]:
#sort descending
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [108]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [109]:
#customize sort function
def myfunc(n):
  return abs(n-50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [110]:
#case insensitive sort
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [111]:
#Reverse Order
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

Copy List

In [112]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [113]:
#Use the list() method
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [114]:
#Use the slice operator
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

Join Lists

In [115]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [116]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [117]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

Tuples

In [118]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [119]:
#Tuple Length
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [120]:
#Create Tuple with one item
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [121]:
#Tuple Items - Data Types
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple1 = ("abc", 34, True, 40, "male")

In [122]:
#type()
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [123]:
#The tuple() Constructor
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

Access Tuple Items

In [124]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [125]:
#Negative Indexing
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [126]:
#Range of Indexes
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [127]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [128]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [129]:
#Range of Negative Indexes
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [130]:
#Check if Item Exists
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

Update Tuples

In [131]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [132]:
#Add Items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [133]:
#Add tuple to a tuple.
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [134]:
#Remove Items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

Unpacking a Tuple

In [135]:
fruits = ("apple", "banana", "cherry")

In [136]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [137]:
#Using Asterisk*
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [138]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

Loop Tuples

In [139]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [140]:
#Loop Through the Index Numbers
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [141]:
#Using a While Loop
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

Join Tuples

In [142]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [143]:
#Multiply Tuples
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

Set

In [144]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [145]:
#Get the Length of a Set
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [146]:
#Set Items - Data Types
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [147]:
set1 = {"abc", 34, True, 40, "male"}

In [148]:
#type()
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [149]:
#The set() Constructor
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'apple', 'banana'}

Access Set Items

In [150]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

In [151]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [152]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

Add Set Items

In [153]:
#Add items
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'cherry', 'apple', 'banana'}

In [154]:
#Add Sets
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'mango', 'papaya', 'pineapple', 'cherry', 'apple', 'banana'}

In [155]:
#Add Any Iterable
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'kiwi', 'orange', 'cherry', 'banana', 'apple'}

Remove Items

In [156]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [157]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [158]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'apple', 'banana'}

In [159]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

Loop Sets

In [160]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

Join Sets

In [161]:
#Union
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 3, 'b', 'a'}

In [162]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'c', 1, 2, 3, 'b', 'a'}

In [163]:
#Join Multiple Sets
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'c', 1, 2, 3, 'John', 'b', 'a', 'cherry', 'bananas', 'Elena', 'apple'}

In [164]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'c', 1, 2, 3, 'John', 'b', 'a', 'cherry', 'bananas', 'Elena', 'apple'}

In [165]:
#Join a Set and a Tuple
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{'c', 2, 1, 3, 'b', 'a'}

In [166]:
#Update
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'c', 1, 2, 3, 'b', 'a'}

In [167]:
#Intersection
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [168]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [169]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [170]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

In [171]:
#Difference
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

In [172]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

In [173]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'cherry', 'banana'}

In [174]:
#Symmetric Differences
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'google', 'cherry', 'microsoft', 'banana'}

In [175]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'google', 'cherry', 'microsoft', 'banana'}

In [176]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'google', 'cherry', 'microsoft', 'banana'}

Dictionaries

In [177]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [178]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [179]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [180]:
#Dictionary Length
print(len(thisdict))

3

In [181]:
#Dictionary Items - Data Types
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [182]:
#type()
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

In [183]:
#The dict() Constructor
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

Access Dictionary items

In [184]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

In [185]:
x = thisdict.get("model")

In [186]:
#Get Keys
x = thisdict.keys()

In [187]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [188]:
#Get Values
x = thisdict.values()

In [189]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [190]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

In [191]:
#Get Items
x = thisdict.items()

In [192]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [193]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

In [194]:
#Check if Key Exists
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

Change Dictionary Items

In [195]:
#Change Values
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [196]:
#Update Dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

Add Dictionary Items

In [197]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [198]:
#Update Dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

Remove Dictionary Items

In [199]:
#Removing Items
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [200]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [201]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

Loop Dictionaries

In [202]:
for x in thisdict:
  print(x)

In [203]:
for x in thisdict:
  print(thisdict[x])

In [204]:
for x in thisdict.values():
  print(x)

In [205]:
for x in thisdict.keys():
  print(x)

In [206]:
for x, y in thisdict.items():
  print(x, y)

Copy Dictionaries

In [207]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [208]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Nested Dictionaries

In [209]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [210]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [211]:
#Access Items in Nested Dictionaries
print(myfamily["child2"]["name"])

Tobias

In [212]:
#Loop Through Nested Dictionaries
for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

If ... Else

In [213]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [214]:
#Elif
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [215]:
#Else
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [216]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [217]:
#Short Hand If
if a > b: print("a is greater than b")

a is greater than b

In [218]:
#Short Hand If ... Else
a = 2
b = 330
print("A") if a > b else print("B")

B

In [219]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [220]:
#And
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [221]:
#Or
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [222]:
#Not
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [223]:
#Nested If
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [224]:
#The pass Statement
a = 33
b = 200

if b > a:
  pass

Match

In [225]:
day = 4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

Thursday

In [226]:
#Default Value
day = 4
match day:
  case 6:
    print("Today is Saturday")
  case 7:
    print("Today is Sunday")
  case _:
    print("Looking forward to the Weekend")

Looking forward to the Weekend

In [227]:
#combine values
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5:
    print("Today is a weekday")
  case 6 | 7:
    print("I love weekends!")

Today is a weekday

In [228]:
#If Statements as Guards
month = 5
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5 if month == 4:
    print("A weekday in April")
  case 1 | 2 | 3 | 4 | 5 if month == 5:
    print("A weekday in May")
  case _:
    print("No match")

A weekday in May

While Loops

In [229]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [230]:
#The break Statement
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [231]:
#The continue Statement
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [232]:
#The else Statement
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

For Loops

In [233]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [234]:
#Looping Through a String
for x in "banana":
  print(x)

b
a
n
a
n
a

In [235]:
#The break Statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [236]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [237]:
#the continue statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [238]:
#The range() Function
for x in range(6):
  print(x)

0
1
2
3
4
5

In [239]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [240]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [241]:
#Else in For Loop
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [242]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [243]:
#Nested Loops
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [244]:
#The pass Statement
for x in [0, 1, 2]:
  pass

Functions

In [245]:
def my_function():
  print("Hello from a function")

In [247]:
#Calling a Function
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [248]:
#Arguments
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [249]:
#Number of Arguments
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [251]:
#Arbitrary Arguments, *args
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [252]:
#Keyword Arguments
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [253]:
#Arbitrary Keyword Arguments, **kwargs
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [254]:
#Default Parameter Value
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [255]:
#Passing a List as an Argument
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [256]:
#Return Values
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [257]:
#The pass Statement
def myfunction():
  pass

In [258]:
#Positional-Only Arguments
def my_function(x, /):
  print(x)

my_function(3)

3

In [259]:
def my_function(x):
  print(x)

my_function(x = 3)

3

In [260]:
#Keyword-Only Arguments
def my_function(*, x):
  print(x)

my_function(x = 3)

3

In [261]:
def my_function(x):
  print(x)

my_function(3)

3

In [262]:
#Combine Positional-Only and Keyword-Only
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

In [263]:
#Recursion
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("Recursion Example Results:")
tri_recursion(6)

Recursion Example Results:
1
3
6
10
15
21

21

Decorators

In [264]:
def changecase(func):
  def myinner():
    return func().upper()
  return myinner

@changecase
def myfunction():
  return "Hello Sally"

print(myfunction())

HELLO SALLY

In [265]:
#Multiple Decorator Calls
def changecase(func):
  def myinner():
    return func().upper()
  return myinner

@changecase
def myfunction():
  return "Hello Sally"

@changecase
def otherfunction():
  return "I am speed!"

print(myfunction())
print(otherfunction())

HELLO SALLY
I AM SPEED!

In [266]:
#Arguments in the Decorated Function
def changecase(func):
  def myinner(x):
    return func(x).upper()
  return myinner

@changecase
def myfunction(nam):
  return "Hello " + nam

print(myfunction("John"))

HELLO JOHN

In [267]:
#*args and **kwargs
def changecase(func):
  def myinner(*args, **kwargs):
    return func(*args, **kwargs).upper()
  return myinner

@changecase
def myfunction(nam):
  return "Hello " + nam

print(myfunction("John"))

HELLO JOHN

In [270]:
#Decorator With Arguments
def changecase(n):
  def changecase(func):
    def myinner():
      if n == 1:
        a = func().lower()
      else:
        a = func().upper()
      return a
    return myinner
  return changecase

@changecase(1)
def myfunction():
  return "Hello Linus"

print(myfunction())

hello linus

In [271]:
#Multiple Decorators
def changecase(func):
  def myinner():
    return func().upper()
  return myinner

def addgreeting(func):
  def myinner():
    return "Hello " + func() + " Have a good day!"
  return myinner

@changecase
@addgreeting
def myfunction():
  return "Tobias"

print(myfunction())

HELLO TOBIAS HAVE A GOOD DAY!

In [272]:
#Preserving Function Metadata
def myfunction():
  return "Have a great day!"

print(myfunction.__name__)

myfunction

In [273]:
def changecase(func):
  def myinner():
    return func().upper()
  return myinner

@changecase
def myfunction():
  return "Have a great day!"

print(myfunction.__name__)

myinner

In [274]:
import functools

def changecase(func):
  @functools.wraps(func)
  def myinner():
    return func().upper()
  return myinner

@changecase
def myfunction():
  return "Have a great day!"

print(myfunction.__name__)

myfunction

In [275]:
#Python Range
x = range(10)

In [276]:
#Call range() With Two Arguments
x = range(3, 10)

In [277]:
#Call range() With Three Arguments
x = range(3, 10, 2)

In [278]:
#Using ranges
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [279]:
#Using List to Display Ranges
print(list(range(5)))
print(list(range(1, 6)))
print(list(range(5, 20, 3)))

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5]
[5, 8, 11, 14, 17]

In [280]:
#Slicing Ranges
r = range(10)
print(r[2])
print(r[:3])

2
range(0, 3)

In [281]:
#Membership Testing
r = range(0, 10, 2)
print(6 in r)
print(7 in r)

True
False

In [282]:
#Length
r = range(0, 10, 2)
print(len(r))

5

Lambda

In [283]:
x = lambda a : a + 10
print(x(5))

15

In [284]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [285]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [286]:
def myfunc(n):
  return lambda a : a * n

In [287]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [288]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [289]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

Arrays

In [290]:
cars = ["Ford", "Volvo", "BMW"]

In [291]:
x = cars[0]

In [292]:
cars[0] = "Toyota"

In [293]:
x = len(cars)

In [294]:
#Looping Array Elements
for x in cars:
  print(x)

Toyota
Volvo
BMW

In [296]:
#Adding Array Elements
cars.append("Honda")

In [297]:
#Removing Array Elements
cars.pop(1)

'Volvo'

In [298]:
cars.remove("Toyota")

OOP

In [299]:
#Create a Class
class MyClass:
  x = 5

In [300]:
#Create Object
p1 = MyClass()
print(p1.x)

5

In [301]:
#The __init__() Method
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [303]:
#The __str__() Method
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

In [304]:
#Create Methods
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [305]:
#The self Parameter
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [306]:
#Modify Object Properties
p1.age = 40

In [307]:
#Delete Object Properties
del p1.age

In [308]:
#Delete Objects
del p1

In [309]:
#The pass Statement
class Person:
  pass

Inheritance

In [310]:
#Create a Parent Class
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

In [311]:
#Create a Child Class
class Student(Person):
  pass

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [312]:
#Add the __init__() Function
class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

In [313]:
#Use the super() Function
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

In [315]:
#Add Properties
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2019)

In [329]:
#Add Methods
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

In [330]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

x = Student("Mike", "Olsen", 2024)
x.welcome()

Welcome Mike Olsen to the class of 2024

Iterators

In [331]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [332]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

In [333]:
#Looping Through an Iterator
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

apple
banana
cherry

In [334]:
mystr = "banana"

for x in mystr:
  print(x)

b
a
n
a
n
a

In [335]:
#Create an Iterator
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

In [336]:
#StopIteration
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

Polymorphism

In [3]:
#Class Polymorphism
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747")     #Create a Plane object

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

In [4]:
#Inheritance Class Polymorphism
class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail!")

class Plane(Vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang") #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747") #Create a Plane object

for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()

Ford
Mustang
Move!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!

Scope

In [5]:
#Local Scope
def myfunc():
  x = 300
  print(x)

myfunc()

300

In [6]:
#Function Inside Function
def myfunc():
  x = 300
  def myinnerfunc():
    print(x)
  myinnerfunc()

myfunc()

300

In [7]:
#Global Scope
x = 300

def myfunc():
  print(x)

myfunc()

print(x)

300
300

In [8]:
#Naming Variables
x = 300

def myfunc():
  x = 200
  print(x)

myfunc()

print(x)

200
300

In [9]:
#Global Keyword
def myfunc():
  global x
  x = 300

myfunc()

print(x)

300

In [10]:
#Nonlocal Keyword
def myfunc1():
  x = "Jane"
  def myfunc2():
    nonlocal x
    x = "hello"
  myfunc2()
  return x

print(myfunc1())

hello

Module