<a href="https://colab.research.google.com/github/Annafi06/Python-Basics-for-Data-Science/blob/main/Python_Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello, World!")

Hello, World!

Python Identation

In [3]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

Comment

In [5]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [6]:
"""
This is a a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

Python Variables

In [7]:
X = 5
Y = "John"
print(X)
print(Y)

5
John

Casting

In [9]:
X = str(3) #x will be '3'
Y = int(3) #y will be 3
Z = float(3) #z will be 3.0

print(X)
print(Y)
print(Z)

3
3
3.0

Get the Type

In [10]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Single or Double Quotes?

In [11]:
x = "John"
# is the same as
x = 'John'

Case-Sensitive

In [12]:
a = 4
A = "Sally"
#A will no overwrite a

Variable Names

In [19]:
#Legal Variable Names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

#Multi Words Variable Names
#1. Camel Case
myVariableName = "John"

#2. Pascal Case
MyVariableName = "John"

#3. Snake Case
my_variable_name = "John"

Assign Multiple Values

In [20]:
#Many Values to Multiple Variables
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [22]:
#One Value to Multiple Variable
x = y = z = "Oranges"
print(x)
print(y)
print(z)

Oranges
Oranges
Oranges

In [23]:
#Unpack a collection
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Output Variables

In [24]:
x = "Python is awesome"
print(x)

Python is awesome

In [25]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [28]:
x = "Python "
y = "is "
z = "awesome "
print(x + y + z)

Python is awesome

In [29]:
x = 5
y = 10
print (x+y)

15

In [30]:
x = 5
y = "John"
print(x, y)

5 John

Global Variables

In [31]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [32]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [33]:
#Using global keyword
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [35]:
#Using global keyword
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Data Types